               
 /*Header*/

 /* The navigation menu */
 .barra-nav {
  background-color: rgb(13,26,59); 
}
.nav-logo:hover {
  background-color: rgb(254, 191, 1); 
  transform: scaleX(1.3) scaleY(1.3); 
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgb(254, 191, 1);
}
.dropdown-stuff {
  background-color: rgb(13,26,59);
}
.menu-list {
  color: rgb(254, 191, 1); 
}
.menu-link{
   color:rgb(254, 191, 1) !important; 
   font-family: 'Homemade Apple', cursive;
}
.menu-item:hover {
color: rgb(13,26,59); 
}

.menu-link:hover {
  color:rgb(13,26,59)!important; 
}
.span-menu:hover {
  
  background-color: rgb(254, 191, 1);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 20px rgb(254, 191, 1); 
}
.menu-item ul{
  list-style: none;
}
.menu-item ul a{
  text-decoration: none;
}
.menu-png {
  height: 1.5em;
  width: 1.5em; 
}
.dropdown-item:hover {
background-color: rgb(13,26,59);
color: rgb(254, 191, 1); 
}
.btn-collapsed {
  background-color:  rgb(254, 191, 1); 
  line-height: 2;
}
  
  /*BODY GRAL */
body {
    
    background-color:  rgb(249, 202, 61); 
    height: 100vh;
}

#h1_index {
    text-align: left;
    margin: 30px; 
    padding: 10px 15px 10px 20px; 
    border-left: solid 10px black; 
    font-family: 'Beth Ellen', cursive;
    font-size: 40px; 
}

#h1_pages {
    font-family: 'Beth Ellen', cursive;
    text-align: left;
    border-left: solid 8px rgb(24, 22, 22);
    padding: 10px; 
    margin: 20px; 
}

h2 {
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

h3 {
    font-family: 'PT Mono', monospace;

}
p {
    font-family: 'PT Mono', monospace;
}
ul {
    font-family: 'PT Mono', monospace;
}
 /*FOOTER*/

.contenedor-footer {
  background-color: rgb(13,26,59);
  color:rgb(254, 191, 1); 
  padding: 25px; 
  display: block; 
  margin: 15px 0 0 0; 
  

}

.divlogofooter{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  
}
.divlinksfooter {
  display:flex; 
  justify-content: center;
  align-items: center;
  margin: 15px; 
}
.rrsslist {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
}
.links-footer {
  list-style: none;
  
}
.links-footer a {
  text-decoration: none;
  color:rgb(254, 191, 1);
}
.rrsslist li{
  display: inline; 
}

.logo-footer:hover {
  background-color: rgb(254, 191, 1); 
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgb(254, 191, 1);
  transform: scaleX(1.5) scaleY(1.5); 
}
.rrss-logo:hover {
  background-color: rgb(254, 191, 1); 
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgb(254, 191, 1);
}
/*INDEX*/

.photo-menu-container {
  margin: 30px; 
  padding: 10px; 
}
.p-photomenu {
text-align: center; 
text-decoration: none; 
}
.photo-menu:hover {
  transform: scaleX(1.1) scaleY(1.1); 
}
.menu-link img {
  display:block; 
  justify-content: center;
  align-items: center;
}

.photo-link {
  text-decoration: none;
  color: rgb(13,26,59); 
  font-size: 20px;
  font-weight: bold;
}
/* LIFE */
.aside-life {
    color: beige; 
    background-color: rgb(75, 100, 137); 
    width: fit-content;
    height: auto; 
    padding: 8px 16px 8px 8px; 
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(28, 26, 26);
    font-family: 'PT Mono', monospace; 
    margin: 50px; 

}

@media (max-width: 900px) {
  .aside-life {
    font-size: 11px; 
    padding: 3px; 

  }
  .life h2 {
    font-size: 18px; 
    font-weight: bold;
  }
  .life h3 {
    font-size: 16px; 
    font-weight: bold; 
  }
  .life p{
    font-size: 13px; 
  }
  
}


.aside-life ul{
    list-style: none;

}

.aside-life a {
    text-decoration: none; 
    color: beige;  
   
}

.aside-life a:hover {
    color: rgb(254,206,1); 
    background-color:rgb(63, 101, 158); 
}
.life {
    height: 500px;
    overflow-y: scroll;
    background-color: rgb(12, 76, 172);
    color: beige; 
    opacity: 0.80; 
    margin: 50px; 
    padding: 25px 10px 10px 10px;
}

/*LETTERS TO THEO*/

.letters {
    height: 500px;
    overflow-y: scroll;
    background-color: rgb(12, 76, 172);
    color: beige; 
    opacity: 0.80; 
    margin: 50px; 
    padding: 25px 10px 10px 10px;
}
@media (max-width: 900px){
 
  .letters h2 {
    font-size: 18px; 
    font-weight: bold;
  }
  .letters h3 {
    font-size: 16px; 
    font-weight: bold; 
  }
  .letters p{
    font-size: 13px; 
}
.letters-photo{
  transform: scaleX(0.7) scaleY(0.7); 
}
}

/*LEGACY*/

#quote {
    font-family: 'PT Mono', monospace; 
    width: 35%; 
    height: auto; 
    font-size: 18px; 
    font-weight: bold; 
    text-align: right;
    margin: 20px 5px 10px 10px; 
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end; 
    
}
.p-quote {
  align-self: flex-end;
}

@media (max-width: 900px){
  #quote{ 
    font-size: 15px; 
    font-weight: bold;
    width: 300px; 

  }
 
  .legacy h2 {
    font-size: 18px; 
    font-weight: bold;
  }
  .legacy h3 {
    font-size: 16px; 
    font-weight: bold; 
  }
  .legacy p{
    font-size: 13px; 
}
.legacy ul {
  font-size: 13px; 
}
p-legacy {
  font-size: 14px; 
}
}

.legacy {
    height: 500px; 
    overflow-y: scroll; 
    background-color:rgb(12, 76, 172);
    opacity: 0.80; 
    color: beige; 
    margin: 30px 0 30px 0; 
}
.legacy ul {
  list-style: square;
}
    

  /*WORK*/
.work-menu-link {
  text-decoration: none; 
  font-weight: bold;
  font-size: 15px;
  color: rgb(13,26,59); 
}
.container-photos-work {
  margin: 15px 10px 10px 40px; 
}

 /*PAINTINGS*/

 .carousel-icon {
  background-color: rgba(45, 44, 44, 50);
  border-radius: 50%;
 }
 .carousel-text{
  background-color: rgba(58, 63, 70, 0.3);
 }
.div-carousel-container {
  margin: 20px; 
}
 @media (max-width: 900px) {
  .p-carousel{
    display: none; 
   }
  
   .carousel-caption h5 {
    font-size: 15px; 
   }
  }
 