               
 /*Header*/

 /* The navigation menu */
 .barra-nav {
  background-color: rgb(13,26,59); 
}
.nav-logo:hover {
  background-color: rgb(254, 191, 1); 
  transform: scaleX(1.3) scaleY(1.3); 
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgb(254, 191, 1);
}
.dropdown-stuff {
  background-color: rgb(13,26,59);
}
.menu-list {
  color: rgb(254, 191, 1); 
}
.menu-link{
   color:rgb(254, 191, 1) !important; 
   font-family: 'Homemade Apple', cursive;
}
.menu-item:hover {
color: rgb(13,26,59); 
}

.menu-link:hover {
  color:rgb(13,26,59)!important; 
}
.span-menu:hover {
  
  background-color: rgb(254, 191, 1);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 20px rgb(254, 191, 1); 
}
.menu-item ul{
  list-style: none;
}
.menu-item ul a{
  text-decoration: none;
}
.menu-png {
  height: 1.5em;
  width: 1.5em; 
}
.dropdown-item:hover {
background-color: rgb(13,26,59);
color: rgb(254, 191, 1); 
}
.btn-collapsed {
  background-color:  rgb(254, 191, 1); 
  line-height: 2;
}
  
  /*BODY GRAL */
body {
    
    background-image: url(../img/bg1.jpg)
}

#h1_index {
    text-align: left;
    margin: 30px; 
    padding: 10px 15px 10px 20px; 
    border-left: solid 10px black; 
    font-family: 'Beth Ellen', cursive;
    font-size: 40px; 
}

#h1_pages {
    font-family: 'Beth Ellen', cursive;
    text-align: left;
    border-left: solid 8px rgb(24, 22, 22);
    padding: 10px; 
    margin: 20px; 
}

h2 {
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

h3 {
    font-family: 'PT Mono', monospace;

}
p {
    font-family: 'PT Mono', monospace;
}
ul {
    font-family: 'PT Mono', monospace;
}
 /*FOOTER*/

.contenedor-footer {
  background-color: rgb(13,26,59);
  color:rgb(254, 191, 1); 
  padding: 40px; 
  display: block; 

}
.links-footer {
  justify-content: center;
  list-style: none;
  
}
.links-footer a {
  text-decoration: none;
  color:rgb(254, 191, 1);
}
.rrsslist li{
  display: inline; 
}
.logo-footer{ 
  justify-self: center; 
  align-self: center;
}
.logo-footer:hover {
  background-color: rgb(254, 191, 1); 
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgb(254, 191, 1);
  transform: scaleX(1.5) scaleY(1.5); 
}
.rrss-logo:hover {
  background-color: rgb(254, 191, 1); 
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgb(254, 191, 1);
}
/*INDEX*/
#contenedor_flex_index {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-around; 
}
.index_images {
    height: 400px;
    width: 250px; 
}

.photo_link {
    text-align: center;
    font-family: 'PT Mono', monospace;
}
.photo_link:hover {
    transform: scaleX(1.1) scaleY(1.1); 
    box-shadow: 10px 10px 20px rgb(45, 44, 44);
    font-weight: bold;
}

/* LIFE */
.loop-portraits{
    box-shadow: 10px 10px 10px rgb(45, 44, 44);
    width: 200px; 
}
.aside-life {
    color: rgb(45, 44, 44); 
    background-color: rgb(254,206,1); 
    width: fit-content;
    height: auto; 
    padding: 8px 16px 8px 8px; 
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(28, 26, 26);
    font-family: 'PT Mono', monospace; 
    margin: 50px; 
}
.aside-life ul{
    list-style: none;

}

.aside-life a {
    text-decoration: none; 
    color:rgb(45, 44, 44); 
   
}

.aside-life a:hover {
    color: rgb(254,206,1); 
    background-color:rgb(63, 101, 158); 
}
.life {
    width: 1200px; 
    height: 400px;
    overflow-y: scroll;
    background-color: rgb(12, 76, 172);
    opacity: 0.80; 
    margin: 50px; 
    padding: 25px 10px 10px 10px;
}

/*LETTERS TO THEO*/

.letters {
    width: 1200px; 
    height: 400px;
    overflow-y: scroll;
    background-color: rgb(12, 76, 172);
    opacity: 0.80; 
    margin: 50px; 
    padding: 25px 10px 10px 10px;
}

/*LEGACY*/

#quote {
    font-family: 'PT Mono', monospace; 
    width: 500px; 
    height: auto; 
    font-size: 20px; 
    font-weight: bold; 
    text-align: right; 
    position: absolute; 
    right: 40px; 
    top: 120px; 
    padding: 25px 10px 10px 10px; 
    
}
.legacy {
    width:1200px; 
    height: 400px; 
    overflow-y: scroll; 
    background-color:rgb(12, 76, 172);
    opacity: 0.80; 
    margin: 50px; 
}



    

  /*WORK*/

.work_img {
    width: 200px; 
    height: 540px; 
  }

#contenedor_work_img {
    display:flex;
    flex-flow: row wrap; 
    justify-content: space-evenly; 
    align-items: center;
}

#contenedor_work_img a {
    color: rgb(63, 101, 158); 
    text-decoration: none; 
    font-weight: bold;
}

#contenedor_work_img a:hover {
    color: rgb(254,206,1); 
    text-decoration: none; 
    background-color:rgba(63, 101, 158, 0.5); 
    font-weight: bold;


 }

 /*PAINTINGS*/


.text {
    display: none; 
 }
 .painting:hover + .text{
    display: block; 
    color: white; 
    background-color:rgba(63, 101, 158, 0.5)
 }

 /*Hague paintings grid*/

 .hague-paintings {
    width: 1080px;
    display: grid; 
    grid-template-columns: repeat(4, 0.1fr);
    grid-template-rows: repeat(8, 0.5fr);
    grid-template-areas: 
    "cabbage cabbage dunes beach"
    "cabbage cabbage fisherman fisherman"
    "girl tailcoat fisherman fisherman"
    "woman tailcoat worn digger"
    "woman nets worn digger"
    "sch-woman stack letter1 orchard"
    "sch-woman . letter1 orchard";
    row-gap: 5px;
    column-gap: 5px;
}

  .cabbage {
    background-color: aquamarine;
    grid-area: cabbage; 
    padding: 10px;
    margin: 10px; 
    
  }

  .cabbage img {
    width: 100%; 
  }
  .dunes {
    background-color: blue;
    grid-area: dunes;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .beach {
    background-color: antiquewhite;
    grid-area: beach;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 

  }
  .fisherman {
    background-color: lightskyblue;
    grid-area: fisherman;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .girl-in-the-woods {
    background-color: violet;
    grid-area: girl; 
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .tailcoat {
    background-color: khaki;
    grid-area: tailcoat; 
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .woman-in-woods {
    background-color: crimson;
    grid-area: woman; 
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .nets {
    background-color: darkmagenta;
    grid-area: nets; 
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .worn-out {
    background-color: hotpink;
    grid-area: worn; 
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .digger {
    background-color: forestgreen;
    grid-area: digger;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 

  }
  .sch-woman {
    background-color: dodgerblue;
    grid-area: sch-woman;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .stack {
    background-color: tomato;
    grid-area: stack;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px;
  }
  .letter1 {
    background-color: deeppink;
    grid-area: letter1;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }
  .orchard {
    background-color: darksalmon;
    grid-area: orchard;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 10px; 
  }