/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
/*componentes*/
/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.barra-nav {
  background-color: rgb(13, 26, 59);
}
.barra-nav .nav-logo:hover {
  background-color: rgb(237, 198, 81);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 20px rgb(237, 198, 81);
  transition: all 1.1s linear;
}
.barra-nav .dropdown-stuff {
  background-color: rgb(13, 26, 59);
}
.barra-nav .dropdown-stuff:hover {
  background-color: rgb(13, 26, 59);
}
.barra-nav .dropdown-stuff .dp-item:hover {
  background-color: rgb(13, 26, 59);
}
.barra-nav .menu-link {
  font-family: "Gochi Hand", cursive;
  font-size: 22px;
  color: rgb(254, 191, 1) !important; /*no dejaba cambiarlo por bs*/
  text-decoration: none;
}
.barra-nav .menu-link:hover {
  color: rgb(13, 26, 59) !important;
}
.barra-nav .menu-link .span-menu:hover {
  background-color: rgb(237, 198, 81);
  box-shadow: 0px 0px 10px 20px rgb(237, 198, 81);
  border-radius: 50%;
  transition: all 0.9s linear;
}

.btn-collapsed {
  background-color: rgb(249, 202, 61);
  line-height: 2;
  border-radius: 50%;
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.contenedor-footer {
  background-color: rgb(13, 26, 59);
  padding: 20px 0 20px 0;
}
.contenedor-footer .divlogofooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-footer .divlogofooter .logo-footer:hover {
  background-color: rgb(237, 198, 81);
  box-shadow: 0px 0px 10px 20px rgb(237, 198, 81);
  border-radius: 50%;
  transform: scaleX(1.5) scaleY(1.5);
  transition: all 1.1s linear;
}
@media (max-width: 950px) {
  .contenedor-footer .divlogofooter .logo-footer:hover {
    transform: scaleX(1.1) scaleY(1.1);
  }
}
.contenedor-footer .div-sitemap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}
.contenedor-footer .div-sitemap .h3-sm {
  font-family: "Caveat", cursive;
  color: rgb(254, 191, 1);
}
.contenedor-footer .div-sitemap .ali-sm {
  text-decoration: none;
  color: rgb(254, 191, 1);
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}
.contenedor-footer .div-sitemap .ali-sm:hover {
  transition: all 0.3s ease-in;
  color: rgb(53, 113, 234);
}
.contenedor-footer .div-sitemap li {
  list-style: none;
  font-style: italic;
}
.contenedor-footer .rrsslist {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100%;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 20px 20px;
  grid-template-areas: "facebook instagram twitter youtube";
}
.contenedor-footer .rrsslist .facebook {
  grid-area: facebook;
  justify-self: center;
  align-self: center;
}
.contenedor-footer .rrsslist .instagram {
  grid-area: instagram;
  justify-self: center;
  align-self: center;
}
.contenedor-footer .rrsslist .twitter {
  grid-area: twitter;
  justify-self: center;
  align-self: center;
}
.contenedor-footer .rrsslist .youtube {
  grid-area: youtube;
  justify-self: center;
  align-self: center;
}
@media (max-width: 1150px) {
  .contenedor-footer .rrsslist {
    grid-template-columns: 35% 35%;
    grid-template-rows: 40% 40%;
    grid-template-areas: "facebook instagram" "twitter youtube";
    row-gap: 15px;
  }
  .contenedor-footer .rrsslist .facebook {
    align-self: flex-end;
  }
  .contenedor-footer .rrsslist .instagram {
    align-self: flex-end;
  }
  .contenedor-footer .rrsslist .twitter {
    align-self: flex-start;
  }
  .contenedor-footer .rrsslist .youtube {
    align-self: flex-start;
  }
}
@media (max-width: 520px) {
  .contenedor-footer .rrsslist {
    grid-template-columns: 60%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas: "facebook" "instagram" "twitter" "youtube";
  }
}
.contenedor-footer .rrsslist .rrss-logo:hover {
  background-color: rgb(237, 198, 81);
  box-shadow: 0px 0px 10px 20px rgb(237, 198, 81);
  border-radius: 50%;
  transform: scaleX(1.2) scaleY(1.2);
  transition: all 1.1s linear;
}
.contenedor-footer .rrsslist ul {
  display: inline;
}
.contenedor-footer .rrsslist .rrssli {
  display: inline;
  text-decoration: none;
}

.row {
  --bs-gutter-x: 0;
  display: flex;
  justify-content: center;
}

.row-footer {
  display: flex;
  justify-content: center;
}

.div-form {
  display: flex;
  justify-content: center;
}

.form-text {
  width: 200px;
  background-color: rgb(228, 228, 175);
  color: rgb(33, 37, 41);
}

.boton {
  background-color: rgb(254, 191, 1);
  border-radius: 15%;
  color: rgb(33, 37, 41);
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.container-p-index {
  margin: 70px 0 70px 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  .container-p-index {
    margin: 30px 0 30px 0;
  }
}

.photo-menu-container {
  margin: 70px 0 70px 0;
}
@media (max-width: 900px) {
  .photo-menu-container {
    margin: 30px 0 30px 0;
  }
}
.photo-menu-container .photo-menu {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.photo-menu-container .photo-menu:hover {
  transform: scaleX(1.1) scaleY(1.1);
  transition: all 0.9s linear;
  font-weight: bolder;
  font-family: "Gochi Hand", cursive;
  font-size: 25px;
}
.photo-menu-container .divpindex {
  display: flex;
  justify-content: center;
}

.photo-link {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.aside-life {
  color: rgb(228, 228, 175);
  background-color: rgb(13, 26, 59);
  opacity: 80%;
  width: fit-content;
  height: fit-content;
  padding: 8px 20px 8px 8px;
  border-radius: 20px;
  margin: 50px;
  font-size: 22px;
}
@media (max-width: 900px) {
  .aside-life {
    font-size: 16px;
    padding: 3px;
  }
}
.aside-life ul {
  font-family: "Red Hat Display", sans-serif;
  list-style: none;
}
.aside-life ul a {
  text-decoration: none;
  color: rgb(228, 228, 175);
}

.life {
  height: auto;
  background-color: rgba(13, 26, 59, 0.9);
  color: rgb(254, 191, 1);
  margin: 50px;
  padding: 20px;
}
.life .div-imglife {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
@media (max-width: 1000px) {
  .life .img-tomb {
    transform: scaleX(0.7) scaleY(0.7);
  }
}
@media (max-width: 800px) {
  .life .img-tomb {
    transform: scaleX(0.5) scaleY(0.5);
  }
}
.life .div-imglifes {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 10px 0;
}
@media (max-width: 950px) {
  .life .div-imglifes {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .life .div-imglifes .sp {
    margin: 10px 0 10px 0;
  }
}
.life h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .life h2 {
    font-size: 35px;
  }
}
.life h3 {
  font-family: "Gochi Hand", cursive;
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .life h3 {
    font-size: 28px;
  }
}
.life p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
}
@media (max-width: 900px) {
  .life p {
    font-size: 16px;
  }
}

.life-photo-row {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}
.life-photo-row .img-potato {
  justify-self: center;
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.letters {
  height: auto;
  background-color: rgba(13, 26, 59, 0.9);
  color: rgb(254, 191, 1);
  margin: 50px;
  padding: 20px;
}
.letters p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
}
@media (max-width: 900px) {
  .letters p {
    font-size: 16px;
  }
}
.letters h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .letters h2 {
    font-size: 35px;
  }
}
.letters h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .letters h3 {
    font-size: 28px;
  }
}
.letters .letter-photo-row {
  display: flex;
  justify-content: center;
}
.letters .letter-photo-row .img-theo {
  border-radius: 50%;
}
@media (max-width: 900px) {
  .letters .letter-photo-row .img-theo {
    width: 250px;
    height: auto;
  }
}
.letters .letter-photo-row .img-jo {
  border-radius: 50%;
}
@media (max-width: 950px) {
  .letters .letter-photo-row .img-jo {
    width: 250px;
    height: auto;
  }
}
.letters .letter-photo-row .div-imgletter {
  display: flex;
  justify-content: center;
}
.letters .letter-photo-row .div-imgletters {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 950px) {
  .letters .letter-photo-row .div-imgletters {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .letters .letter-photo-row .div-imgletters .letter2 {
    margin: 10px 0 10px 0;
  }
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.p-legacy {
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
}
@media (max-width: 900px) {
  .p-legacy {
    font-size: 16px;
  }
}

.row-quote {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#quote {
  margin: 30px 10px 30px 0px;
  text-align: right;
  font-weight: bold;
}
#quote .p-quote {
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
}
@media (max-width: 900px) {
  #quote .p-quote {
    font-size: 15px;
  }
}

.legacy {
  background-color: rgba(13, 26, 59, 0.9);
  color: rgb(254, 191, 1);
  margin: 50px;
  padding: 20px;
}
.legacy p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  .legacy p {
    font-size: 13px;
  }
}
.legacy a {
  color: rgb(254, 191, 1);
}
.legacy h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 40px;
}
@media (max-width: 900px) {
  .legacy h2 {
    font-size: 35px;
  }
}
.legacy h3 {
  font-family: "Gochi Hand", cursive;
  font-size: 35px;
}
@media (max-width: 900px) {
  .legacy h3 {
    font-size: 28px;
  }
}
.legacy ul {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  .legacy ul {
    font-size: 15px;
  }
}
.legacy .iframe-legacy {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}
.legacy .legacy-photo-row {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 40px;
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.p-work {
  font-family: "Red Hat Display", sans-serif;
  color: rgb(33, 37, 41);
}

.container-photos-work {
  display: flex;
  justify-content: center;
}
.container-photos-work .work-menu-photo {
  display: flex;
  justify-content: center;
}
.container-photos-work .work-menu-photo a {
  color: rgb(33, 37, 41);
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 25px;
  justify-self: center;
}
.container-photos-work .work-menu-photo .div-p-work {
  display: flex;
  justify-content: center;
}

.row-work-photos {
  display: flex;
  justify-content: row;
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/* 6*/
/*13 p en media y aside */
/*footer glow*/
/*7*/
.p-paintings {
  color: rgb(33, 37, 41);
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  .p-paintings {
    font-size: 15px;
  }
}

.ul-paintings {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  list-style: square;
}
@media (max-width: 900px) {
  .ul-paintings {
    font-size: 15px;
  }
}

.h3-paintings {
  font-family: "Gochi Hand", cursive;
  font-size: 28px;
}

.carousel-icon {
  background-color: rgb(75, 100, 137);
  border-radius: 50%;
}

.carousel-text {
  background-color: rgba(156, 175, 213, 0.2);
}
.carousel-text h3 {
  font-family: "Caveat", cursive;
  font-size: 28px;
}
@media (max-width: 900px) {
  .carousel-text h3 {
    font-size: 18px;
  }
  .carousel-text .p-carousel {
    display: none;
  }
}

.div-carousel-container {
  margin: 20px;
}

body {
  background: linear-gradient(-45deg, rgb(233, 234, 172), rgb(241, 179, 6), rgb(221, 136, 28), rgb(240, 114, 30));
  background-size: 5000% 5000%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#h1_index {
  font-family: "Gochi Hand", cursive;
  color: rgb(33, 37, 41);
  font-size: 65px;
}

#h1_pages {
  font-family: "Gochi Hand", cursive;
  color: rgb(33, 37, 41);
  font-size: 53px;
  margin: 20px 0 15px 40px;
}

/*# sourceMappingURL=style.css.map */
