/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/*aside*/
/* 6 */
/*componentes*/
/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/*aside*/
/* 6 */
.barra-nav {
  background-color: rgb(13, 26, 59);
}
.barra-nav .nav-logo:hover {
  background-color: rgb(254, 191, 1);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 20px rgb(254, 191, 1);
}
.barra-nav .dropdown-stuff {
  background-color: rgb(13, 26, 59);
}
.barra-nav .dropdown-stuff:hover {
  background-color: rgb(13, 26, 59);
}
.barra-nav .dropdown-stuff .dp-item:hover {
  background-color: rgb(13, 26, 59);
}
.barra-nav .menu-link {
  font-family: "Gochi Hand", cursive;
  font-size: 20px;
  color: rgb(254, 191, 1) !important; /*no dejaba cambiarlo por bs*/
  text-decoration: none;
}
.barra-nav .menu-link:hover {
  color: rgb(13, 26, 59) !important;
}
.barra-nav .menu-link .span-menu:hover {
  background-color: rgb(254, 191, 1);
  box-shadow: 0px 0px 10px 20px rgb(254, 191, 1);
  border-radius: 50%;
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/*aside*/
/* 6 */
.contenedor-footer {
  background-color: rgb(13, 26, 59);
  margin: 70px 0 0 0;
}
.contenedor-footer .divlogofooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-footer .divlogofooter .logo-footer:hover {
  background-color: rgb(254, 191, 1);
  box-shadow: 0px 0px 10px 20px rgb(254, 191, 1);
  border-radius: 50%;
  transform: scaleX(1.5) scaleY(1.5);
}
.contenedor-footer .divlinksfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-footer .divlinksfooter .links-footer {
  color: rgb(254, 191, 1);
}
.contenedor-footer .divlinksfooter .links-footer li {
  list-style: none;
}
.contenedor-footer .divlinksfooter .links-footer a {
  text-decoration: none;
  color: rgb(254, 191, 1);
}
.contenedor-footer .rrsslist {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-footer .rrsslist .rrss-logo:hover {
  background-color: rgb(254, 191, 1);
  box-shadow: 0px 0px 10px 20px rgb(254, 191, 1);
  border-radius: 50%;
  transform: scaleX(1.2) scaleY(1.2);
}
.contenedor-footer .rrsslist li {
  display: inline;
  text-decoration: none;
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/*aside*/
/* 6 */
.container-p-index {
  margin: 70px 0 70px 0;
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
@media (max-width: 900px) {
  .container-p-index {
    margin: 30px 0 30px 0;
  }
}

.photo-menu-container {
  margin: 70px 0 70px 0;
}
@media (max-width: 900px) {
  .photo-menu-container {
    margin: 30px 0 30px 0;
  }
}
.photo-menu-container .photo-menu {
  font-family: "PT Mono", monospace;
}
.photo-menu-container .photo-menu:hover {
  transform: scaleX(1.1) scaleY(1.1);
  font-weight: bolder;
  font-family: "Gochi Hand", cursive;
  font-size: 25px;
}

.photo-link {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/*aside*/
/* 6 */
.aside-life {
  color: rgb(228, 228, 175);
  background-color: rgb(13, 26, 59);
  opacity: 80%;
  width: fit-content;
  height: auto;
  padding: 8px 16px 8px 8px;
  border-radius: 20px;
  margin: 50px;
}
@media (max-width: 900px) {
  .aside-life {
    font-size: 11px;
    padding: 3px;
  }
}
.aside-life ul {
  font-family: "PT Mono", monospace;
  list-style: none;
}
.aside-life ul a {
  text-decoration: none;
  color: rgb(228, 228, 175);
}

.life {
  height: auto;
  background-color: rgba(13, 26, 59, 0.9);
  color: rgb(254, 191, 1);
  margin: 50px;
}
.life .div-imglife {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.life h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .life h2 {
    font-size: 20px;
  }
}
.life h3 {
  font-family: "PT Mono", monospace;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .life h3 {
    font-size: 20px;
  }
}
.life p {
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
@media (max-width: 900px) {
  .life p {
    font-size: 13px;
  }
}

/*variables*/
/*fonts y font-sizes*/
/*animaciones*/
/*margin y padding*/
/*aside*/
/* 6 */
.letters {
  height: auto;
  background-color: rgba(13, 26, 59, 0.9);
  color: rgb(254, 191, 1);
  margin: 50px;
  padding: 15px;
}
.letters p {
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
@media (max-width: 900px) {
  .letters p {
    font-size: 13px;
  }
}
.letters h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .letters h2 {
    font-size: 20px;
  }
}
.letters h3 {
  font-family: "PT Mono", monospace;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .letters h3 {
    font-size: 20px;
  }
}
.letters .div-imgletter {
  display: flex;
  justify-content: center;
}
.letters .div-imgletter .letters-photo {
  border-radius: 50%;
}
.letters .div-imgletters {
  display: flex;
  justify-content: space-between;
}

body {
  height: 100%;
  background-color: rgb(249, 202, 61);
}

#h1_index {
  font-family: "Gochi Hand", cursive;
  color: rgb(33, 37, 41);
  font-size: 65px;
}

#h1_pages {
  font-family: "Gochi Hand", cursive;
  color: rgb(33, 37, 41);
  font-size: 53px;
  margin: 20px 0 15px 40px;
}

/*# sourceMappingURL=style.css.map */
