@import './abstract/variables';
@import './abstract/listas'; 
@import './abstract/mapas'; 

/*componentes*/
@import './components/nav'; 
@import './components/footer'; 
@import './components/indexphotos'; 
@import './components/life'; 
@import './components/letters'; 
@import './components/legacy'; 
@import './components/work';
@import './components/paintings'; 

body {
   
        background: linear-gradient(-45deg, rgb(233,234,172), rgb(241, 179, 6),rgb(221,136,28), rgb(240, 114, 30));
        background-size: 3000% 3000%; 
        animation: gradient 10s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    

#h1_index {
    font-family: $gochi;
    color: nth($colores , 4); 
    font-size: nth($fonts-size , 1 );
    
}

#h1_pages {
    font-family: $gochi;
    color: nth($colores, 4); 
    font-size: nth($fonts-size , 2 );
    margin: nth($margin, 3); 
}

