@import '../abstract/variables'; 
@import '../abstract/listas'; 
@import '../abstract/mapas'; 




.contenedor-footer {
    
    background-color: nth($colores , 3);
    padding: nth($padding, 3);
    .divlogofooter { 
        display: nth($flex , 1 ); 
        justify-content: nth($flex , 2 );
        align-items: nth($flex , 2 );

        .logo-footer:hover {
            background-color: map-get($glow-hover , bgc-gh );
            box-shadow: map-get($glow-hover , bs-gh );
            border-radius: map-get($glow-hover , br-gh );
            transform: map-get($glow-hover , trans2 );
            transition: $transition1; 
            @media (max-width:950px){
                transform: map-get($glow-hover, trans3 ); 
            }

    } } 
    .div-sitemap{
        display: nth($flex , 1 ); 
        justify-content: nth($flex , 2 );
        align-items: nth($flex , 2 );
        margin: nth($margin, 2); 
            .h3-sm{
                font-family: $caveat;
                color: nth($colores, 2)
            }

            .ali-sm {
                text-decoration: none;
                color: nth($colores, 2);
                font-family: $redhat; 
                font-weight: bold;
                &:hover {
                    transition: $transition4;
                    color: nth($colores, 8 ); 
                }
    
            }
            li{
                list-style: none;
                font-style: italic;
            }
        
        
    
    }
    .rrsslist{
        display: nth($grid, 1 ); 
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 100%;
        column-gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 20px 10px 20px 20px;
        grid-template-areas: "facebook instagram twitter youtube";
        .facebook{
            grid-area: facebook; 
            justify-self: nth($flex, 2);
            align-self: nth($flex, 2);
           
        }
        .instagram{
            grid-area: instagram;
            justify-self: nth($flex, 2);
            align-self: nth($flex, 2);
        }
        .twitter{
            grid-area: twitter; 
            justify-self: nth($flex, 2);
            align-self: nth($flex, 2);
        }
        .youtube{
            grid-area: youtube; 
            justify-self: nth($flex, 2);
            align-self: nth($flex, 2);
        }
        @media (max-width:1150px) {
            grid-template-columns: 35% 35%;
            grid-template-rows: 40% 40%; 
            grid-template-areas:  
            "facebook instagram"
            "twitter youtube"; 
            row-gap: 15px; 
            .facebook{
                align-self: flex-end;
            }
            .instagram {
                align-self: flex-end; 
            }
            .twitter {
                align-self: flex-start;
            }
            .youtube {
                align-self: flex-start; 
            }
            }
        @media (max-width:520px) {
            grid-template-columns: 60%;
            grid-template-rows: 20% 20% 20% 20%; 
            grid-template-areas: "facebook" "instagram" "twitter" "youtube";
        }

        

       
        .rrss-logo:hover{
            background-color: map-get($glow-hover , bgc-gh );
            box-shadow: map-get($glow-hover , bs-gh );
            border-radius: map-get($glow-hover , br-gh );
            transform: map-get($glow-hover , trans1 );
            transition: $transition1; 

        }
        ul {
            display: inline; 
        }
        .rrssli{
            display: inline; 
            text-decoration: none;
        }


    }

}

.row{
    --bs-gutter-x: 0; 
    display: nth($flex, 1);
    justify-content: nth($flex, 2);
}
 .row-footer{
    display: nth($flex, 1); 
    justify-content: nth($flex, 2);
 }

.div-form{
    display: nth($flex, 1 );
    justify-content: nth($flex, 2 );
}


.form-text{
    width: 200px; 
    background-color: nth($colores, 5);
    color: nth($colores, 4);


}
.boton{
  background-color: nth($colores, 2); 
  border-radius: 15%; 
  color: nth($colores, 4); 
  padding: 3px; 
  margin: 5px; 
  cursor: pointer;
}