@import '../abstract/variables'; 
@import '../abstract/listas'; 
@import '../abstract/mapas'; 



.contenedor-footer {
    background-color: nth($colores , 3);
    margin:nth($margin, 4); 
    .divlogofooter { 
        display: nth($flex , 1 ); 
        justify-content: nth($flex , 2 );
        align-items: nth($flex , 2 );

        .logo-footer:hover {
            background-color: map-get($glow-hover , bgc-gh );
            box-shadow: map-get($glow-hover , bs-gh );
            border-radius: map-get($glow-hover , br-gh );
            transform: map-get($glow-hover , trans2 );
            transition: $transition1; 
            @media (max-width:950px){
                transform: map-get($glow-hover, trans3 ); 
            }

    } } 
    .div-sitemap{
        display: nth($flex , 1 ); 
        justify-content: nth($flex , 2 );
        align-items: nth($flex , 2 );
        margin: nth($margin, 2); 
            .h3-sm{
                font-family: $caveat;
                color: nth($colores, 2)
            }

            .ali-sm {
                text-decoration: none;
                color: nth($colores, 2);
                font-family: $redhat; 
                font-weight: bold;
                &:hover {
                    transition: $transition4;
                    color: nth($colores, 8 ); 
                }
    
            }
            .li-sm{
                list-style: square;
                font-style: italic;
            }
        
        
    
    }
    .rrsslist{
        display: nth($flex , 1 ); 
        justify-content: nth($flex , 2 );
        align-items: nth($flex , 2 );
        .rrss-logo:hover{
            background-color: map-get($glow-hover , bgc-gh );
            box-shadow: map-get($glow-hover , bs-gh );
            border-radius: map-get($glow-hover , br-gh );
            transform: map-get($glow-hover , trans1 );
            transition: $transition1; 

        }
        .rrssli{
            display: inline; 
            text-decoration: none;
        }

    }

}

