@import '../abstract/variables'; 
@import '../abstract/listas'; 
@import '../abstract/mapas'; 


.p-legacy {
    font-family: $redhat;
    font-size: nth($fonts-size, 6);
    @media (max-width:900px){
        font-size: nth($fonts-size, 8)
        
    }
}
.row-quote{
    display: nth($flex, 1); 
    flex-direction: nth($flex, 5);
    justify-content: nth($flex, 6);
}
#quote{
    margin: 30px 10px 30px 0px; 
    text-align: right;
    font-weight: bold;
    


    .p-quote{
        font-family: $redhat; 
        font-size: nth($fonts-size, 5);

        @media (max-width:900px) {
            font-size: nth($fonts-size, 7)
        }
    }
}
.legacy {
background-color: map-get($block-text, fondo);
color: map-get($block-text, letra); 
margin: map-get($block-text, margen); 
padding: map-get($block-text, pad); 

    p{
        font-family: $redhat;
        font-size: nth($fonts-size, 6);
        @media (max-width:900px) {
            font-size: nth($fonts-size, 8)
        }

    }
    a {
        color: map-get($block-text, letra); 
    }
    h2{
        font-family: $gochi; 
        font-size: nth($fonts-size, 3)
    }
    h3{
        font-family: $gochi;
        font-size: nth($fonts-size , 4);
    }
    ul{
        font-family: $redhat;
        font-size: nth($fonts-size, 6 );
        @media (max-width:900px) {
            font-size: nth($fonts-size, 8)
        }
    }

    .iframe-legacy {
        display: nth($flex, 1); 
        justify-content: nth($flex, 2);
        padding: 20px 0 20px 0; 

    }

    .legacy-photo-row{
        display: nth($flex, 1 );
        justify-content: nth($flex, 2);
        padding: 20px 0 20px 0; 
    }

}

h2{
    font-family: $gochi;
    font-size: nth($fonts-size, 12);
}