@import '../abstract/variables'; 
@import '../abstract/listas'; 
@import '../abstract/mapas'; 

.letters {
    height: auto; 
    background-color: map-get($block-text, fondo);
    color: map-get($block-text, letra); 
    margin: map-get($block-text, margen);
    padding: map-get($block-text, pad); 
    p {
        font-family: $redhat;
        font-size: nth($fonts-size, 6);
        @media (max-width: 900px){
            font-size: nth($fonts-size, 8);
            
        }
    }
    h2 {
        font-family: $gochi;
        font-size: nth($fonts-size, 3);
        font-weight: bold;
        @media (max-width:900px) {
            font-size: nth($fonts-size, 5);
        }

    }
    h3 {
        font-family: $redhat;
        font-size: nth($fonts-size, 9);
        font-weight: bold;
        @media (max-width:900px) {
            font-size: nth($fonts-size, 5);
        }
    }
    .letter-photo-row {
        display: nth($flex, 1); 
        justify-content: nth($flex, 2);
        .img-theo{
            border-radius: 50%;
            @media (max-width:900px){
            width: 250px; 
            height: auto; 
        
        }

        }
        .img-jo{
            border-radius: 50%;
            @media (max-width:950px) {
                width: 250px; 
                height: auto; 
        }
    }

    .div-imgletter {
        display: nth($flex, 1); 
        justify-content: nth($flex, 2);
        
        
       

    }
    .div-imgletters {
        display: nth($flex, 1); 
        justify-content: nth($flex, 3);

        @media (max-width:950px){
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around; 
        .letter2{
            margin: nth($margin, 6);
            
                
            }
        }
    }
    }

   


}