@import '../abstract/variables'; 
@import '../abstract/listas'; 
@import '../abstract/mapas'; 

.aside-life {
    color: nth($colores, 5);
    background-color: nth($colores, 3);
    opacity: 80%;
    width: fit-content; 
    height: fit-content; 
    padding: nth($padding, 1); 
    border-radius: 20px;
    margin: nth($margin, 5); 
    font-size: nth($fonts-size, 5);
    @media (max-width:900px){
        font-size: nth($fonts-size, 13);
        padding: nth($padding, 2)

    }
    ul{
        font-family: $redhat;
        list-style: none;

        a{
            text-decoration: none;
            color: nth($colores, 5)
        }
    }
}

.life {
    height: auto; 
    background-color: map-get($block-text, fondo);
    color: map-get($block-text, letra); 
    margin: map-get($block-text, margen);
    padding: map-get($block-text, pad);

    .div-imglife{
        display: nth($flex, 1); 
        justify-content: nth($flex, 2);
        margin: nth($margin, 6); 
}
    
    
    .img-tomb {
        @media (max-width:1000px) {
            transform: map-get($glow-hover, trans4); 
        } 
        @media (max-width:800px) {
            transform: map-get($glow-hover, trans5); 
        }
    }

    .div-imglifes {
        display: nth($flex, 1 ); 
        justify-content: nth($flex, 3);
        margin: nth($margin, 6); 

        @media (max-width:950px) {
            flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around; 
        .sp{
            margin: nth($margin, 6)
        }
        }

        
        
    }
    
    h2 {
        font-family: $gochi;
        font-size: nth($fonts-size, 12);
        font-weight: bold;
        @media (max-width:900px) {
            font-size: nth($fonts-size, 3);
        }

    }
    h3 {
        font-family: $gochi;
        font-size: nth($fonts-size, 3);
        font-weight: bold;
        @media (max-width:900px) {
            font-size: nth($fonts-size, 4);
        }
    }
    p{
        font-family: $redhat;
        font-size: nth($fonts-size, 5);
        @media (max-width: 900px){
            font-size: nth($fonts-size, 13);
            
        }
    }
}

.life-photo-row{
    display: flex; 
    justify-content: center; 
    margin: nth($margin, 2); 

    .img-potato{
        justify-self: center; 
    }
}

