@import '../abstract/variables';
@import '../abstract/listas';
@import '../abstract/mapas'; 

.p-work {
    font-family: $redhat; 
    color: nth($colores, 4); 

}

.container-photos-work {
    display: nth($flex, 1); 
    justify-content: nth($flex, 2);

    .work-menu-photo {
        display: flex; 
        justify-content: center;
        a{
            color: nth($colores, 4);
            text-decoration: none;
            font-family: $caveat;
            font-size: nth($fonts-size, 9);
            justify-self: center;
        }
        .div-p-work{
            display: nth($flex, 1 );
            justify-content: nth($flex, 2);
        }
    }
   
    
   
}
