
$flex:
flex, 
center, 
space-around,
space-between, 
row, /* 5*/
flex-end; /* 6*/

$fonts-size:
 65px, /* 1- h1 index*/
 53px, /* 2- h1 pages*/
 35px, /* h2 en block*/
 28px, 
 20px, /* 5 */
 18px, /* 6- p en block text*/
 15px, 
 13px,  /* 8 para p en mobil*/
 25px, /* 9 h3 en block*/ 
 11px,  /* 10*/
 16px,
 40px; 
 

$colores:
rgb(249,202,61), /*amarillo fondo*/
rgb(254, 191, 1), 
rgb(13,26,59), /*azul fondo*/
rgb(33,37,41), /*azul letras*/
rgb(228, 228, 175), 
rgb(75, 100, 137), /*aside*/
rgba(120, 159, 236, 0.852), /* 7 carousel bcg*/
rgb(53, 113, 234); /*footer glow*/



$margin:
70px 0 70px 0, /* 1 margin menu photos*/
30px 0 30px 0, /* 2 margin mobile*/
20px 0 15px 40px, /* 3 marginh1*/
70px 0 0 0,  /* 4 margin footer*/
50px,  
10px 0 10px 0,  /* 6 */
20px; /*7*/


$padding:
8px 20px 8px 8px, 
3px, 
20px 0 20px 0; 


