$glow-hover: (
    bs-gh: 0px 0px 10px 20px rgb(237, 198, 81), 
    br-gh: 50%, 
    bgc-gh: rgb(237, 198, 81), 
    trans1: scaleX(1.2) scaleY(1.2), 
    trans2: scaleX(1.5) scaleY(1.5), 
    trans3: scaleX(1.1) scaleY(1.1),
    trans4: scaleX(0.7) scaleY(0.7),
    trans5: scaleX(0.5) scaleY(0.5),
    trans6: scaleX(0.4) scaleY(0.4), 
);


$block-text: (
    height: 500px,  
    fondo: rgba(13,26,59, 0.9), 
    scroll: scroll, 
    margen: 50px,
    letra: rgb(254, 191, 1), 
    pad: 15px, 
); 