/*variables*/


/*fonts y font-sizes*/
$gochi: 'Gochi Hand', cursive;
$pt-mono:'PT Mono', monospace;
$caveat: 'Caveat', cursive;
$redhat: 'Red Hat Display', sans-serif;





/*animaciones*/
$transition1: all 1.1s linear; 
$transition2: all 0.9s linear; 
$transition3: all 0.5s ease-in; 



/*margin y padding*/

$marg-h1: 20px 0 15px 40px; 
